<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
</head>
<body>
    <div id="main">
        <h1>Form Register</h1>
        <form action="/register" method="POST">
            <input type="text" name="username" placeholder="username" name="username">
            <input type="password" name="password" placeholder="password" name="password">
            <input type="password" name="confirmPassword" placeholder="confirmPassword" name="confirmPassword">
            <input type="email" name="email" placeholder="email" name="email">
            <input type="submit" value="Register" name="submit">
        </form>
    </div>
</body>
</html>